html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#settings {
    padding-top: 10px;
    height: 100vh;
    background-color: #2F3136;
    position: absolute;
    padding-right: 5vw;
}

#settings * {
    padding-left: 10px;
    padding-top: 10px;
}

.setting-category {
    color: #8E9297;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

#options {
    background-color: #36393F;
    height: 100%;
    width: 100%;
    right: 0;
}

.setting-red {
    color: red;
}