.theme-default {
	/* This is just a test. Will be changed later */
	--header-primary: #000000;
	--header-secondary: #000000;
	--text-normal: #000000;
	--text-muted: #000000;
	--text-link: #00b0f4;
	--background-primary: #ffffff;
	--background-secondary: #d0d0d0;
	--background-secondary-alt: #b0b0b0;
	--background-tertiary: #a0a0a0;
	--interactive-hover: #c0c0c0;
	--channel-active: #c0c0c0;
	--message-hover: #c0c0c0;
	--textarea-background: #e0e4e8;
	--other: #ff0000;
}

.theme-dark {
	--header-primary: #000000;
	--header-secondary: #000000;
	--text-normal: #FFFFFF;
	--text-muted: #808080;
	--text-link: #00b0f4;
	--background-primary: #36393f;
	--background-secondary: #2f3136;
	--background-secondary-alt: #292b2f;
	--background-tertiary: #202225;
	--interactive-hover: #303236;
	--channel-hover: #404040;
	--channel-active: #404040;
	--message-hover: #404040;
	--textarea-background: #40444b;
	--other: #ff0000;
}